<!DOCTYPE html>
<html lang="fr" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout}">
<head>
 <title th:text="#{professeur.update}">Modif d'un professeur</title>
</head>

<body>
	<main class="container" layout:fragment="content">
		<div class="row">
			<div class="col-1">
				<a th:href="@{/professeur/liste}"><i class="fa fa-chevron-left"></i></a>
			</div>
			<div class="col-11">
				<h3 th:text="#{professeur.update}">maj d'un professeur</h3>
			</div>
		</div>

		<div th:errors="${professeur.*}" class="border pl-3 bg-warning">Toutes les erreurs</div>

		<form method="post" th:object="${professeur}"
			                  th:action="@{/professeur/__${professeur.id}__/update}">
			               
				<div class="row">
				 <div class="col-md-4 mb-3">
				   <label for="id" th:text="#{professeur.id}">id</label>
				   <input type="text" readonly="readonly" th:field="*{id}" class="form-control"/>	
				  </div>
				  <div class="col-md-4 mb-3">
				    <label for="user.username" th:text="#{user.username}">Username</label>
				    <input type="text" readonly="readonly" id="usernameField" th:field="*{user.username}" class="form-control"
				   />
				  </div>
				  <div class="col-md-4 mb-3">
				    <label for="user.role" th:text="#{user.role}"> Role</label> 
				    <input type="text" readonly="readonly" th:field="*{user.role}" class="form-control"/> 
				  </div>
				</div>		   
		   
			<div class="form-group">
				<label for="nom" th:text="#{professeur.nom}"></label> <input
					type="text" th:field="*{nom}" class="form-control"
					th:classappend="${#fields.hasErrors('nom')} ? is-invalid" required />
				<small id="error_nom" th:errors="*{nom}"
					class="form-text text-danger">Erreur Nom
				</small>
			</div>

			<div class="form-group">
				<label for="prenom" th:text="#{professeur.prenom}"></label> <input
					type="text" th:field="*{prenom}" class="form-control"
					th:classappend="${#fields.hasErrors('prenom')} ? is-invalid"
					required /> 
				<small id="error_prenom" th:errors="*{prenom}"
					class="form-text text-danger">Erreur prenom
				</small>
			</div>

			<div class="form-group">
				<label for="email" th:text="#{professeur.email}"></label> <input
					type="text" th:field="*{email}" class="form-control"
					th:classappend="${#fields.hasErrors('email')} ? is-invalid"
					required /> 
				<small id="error_email" th:errors="*{email}"
					class="form-text text-danger">Erreur email
				</small>
			</div>
		
			<div class="form-group">
				<input type="password"  hidden="true" th:field="*{user.password}" class="form-control">	
			</div>

			<div class="form-group" >
					<input
					type="password"  hidden="true" th:field="*{user.confirmPassword}" class="form-control"
					/> 
			</div>
			
			<button type="submit" class="btn btn-outline-primary"
				th:text="#{action.update}"></button>
		</form>
	</main>
</body>
</html>
